.footer{
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
    flex-direction: column;
    height:10rem;
    background-color: $color-primary-grey;
    font-size: 1.4rem;
    

    
    &__navigation{
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }
    &__icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: $color-white;
        padding-bottom: 1rem;
    }
    
    
    
}
