.u-center-text{
    text-align: center !important;
}
.u-margin-bottom-big{
    margin-bottom: 8rem !important;
    // @include respond(tab-port){
    //     padding: 5rem !important;
    // }
}
.u-margin-bottom-medium{
    margin-bottom: 4rem !important;

    // @include respond(tab-port){
    //     padding: 3rem !important; 
    // }
}
.u-margin-bottom-small{margin-bottom: 1.5rem !important;} 
.u-margin-top-big{margin-top: 8rem !important;}
.u-margin-top-extra-big{margin-top: 12rem !important;}
.u-margin-top-small{margin-top: 1.5rem !important;}

.u-header-primary-large{font-size: 5.0rem !important;}
.u-header-primary-medium{font-size: 3.5rem !important;}
.u-header-primary-medium-small{font-size: 2.4rem !important;}
.u-header-primary-small{font-size: 1.9rem !important;}

.u-header-primary-centred{text-align:center !important;}
