.btn:link,
.btn:visited{

    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    // padding: 1.5rem 4rem;
    border-radius: 100px;
    transition: all .4s;
    box-shadow: $shadow-dark-btn;
   position: relative;
}
 .p{
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    font-family: acier-bat-gris, sans-serif;
    font-style: normal;
    font-weight: 400;
 }
 .project_arrow{
    top: 1rem;
    left: 9rem;
    font-size: 2rem;
    position: absolute;
 }
.btn__white{
    background-color:$color-primary-dark;
    color:$color-white;
}
.btn__small{
    padding: 1rem .5rem;
    background-color:$color-primary-dark;
    color:$color-white;
   
}
.btn__medium{
    padding: 1.75rem 2.3rem;
    background-color:$color-primary-dark;
    color:$color-white;
    font-size: 1.2rem;
    width: 12rem;
    height:4rem;
}

.github_logo{
    position: absolute;
    top:.5rem;
    left:2rem;
    margin-left: 4rem;
}
.btn__big{
    padding: 1.5rem 4rem;
    width: 21rem;
    background-color:$color-primary-dark;
    color:$color-white;
}
span{
    transition: all .3s;
}
.btn:hover{
    span{

        margin-left: .4rem;
    }
    transform: translateY(-3px);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: $shadow-dark-btn-clicked;
}
.btn::after{
    content:"";
    display: inline-block;
    height:100%;
    width:100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index: -10;
    transition: all .5s;

}
.btn__white::after{
    background-color: $color-primary-dark;
}
.btn__small::after{
    background-color: $color-primary-dark;
}
.btn__medium::after{
    background-color: $color-primary-dark;
}
.btn__big::after{
    background-color: $color-primary-dark;
}
.btn:hover::after{
    transform: scaleY(1.6) scaleX(1.4);
    opacity: 0;
}