.container{
    height:100%;
    width:100%;
}
.main{
    height:60%;
    width:100%;
}
.home-page{
    color: orangered;
    background-color: blue;
}

.section-about{
   
    display: flex;
    flex-direction: row;
    height: 84.4rem;

    color:black;
    &__left{
        flex:1;
        background-color: white;
    }
    &__right{
        display: flex;
        padding: 0rem 2rem;
        flex-direction: column;
        width: 50%;
        background-color:$color-primary;
        font-family: acier-bat-gris, sans-serif;
        font-style: normal;
        font-weight: 400;
        color:$color-primary-light;
        font-size: 4rem;

    }
    &__greeting{
        margin-left: 27.7rem;
        margin-top: 10.7rem;
        margin-bottom: 2rem;
    }
    &__introduction{
        margin-left:36.4rem;
      
        margin-bottom: 2.2rem;
    }
    &__passion{
        margin-left:17.7rem;
        width:60.0rem;
        margin-right: 15rem;
    }
    &__btn{
        margin-left: 30rem;
        margin-top: 27rem;
        font-size: 2rem;
    }
}
.section-whyMe{

   
    height:69.9rem;
    background-color: $color-primary;
    display: flex;
    flex: 1;
    &__right{
        width:33.7%;
        padding: 1rem 2rem;
        background-color: white;
        font-family: acier-bat-gris, sans-serif;
        font-style: normal;
        font-weight: 400;
        color:$color-primary;
        font-size: 4rem;
    }
    &__left{
        width: 70%; 
    }
    &__header{
        width:23rem;
        padding-top: 6rem;
        margin-left: 30.4rem;
        color:white;
        border-bottom: 3px solid white;
    }
    &__paragraph{
        margin-left: 39.3rem;
        margin-top: 10rem;
        width:40rem;
        color:white;
    }
}
.section-projects{

    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    flex:1;

}
.section-skills{
   
    background-color: $color-primary-light;
    display: flex;
    flex-direction: column;
    background-color: $color-primary-light;
    height: 50rem;
    padding-top: 7rem;

    
}

.MySkill-section-card{
    display: flex;
    flex-direction: row;
}
.section-testimonial{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, $color-gradient-light, $color-gradient);
    padding-bottom: 8rem;
    padding-top: 8rem;
}

@keyframes moveIn {
    0%{
        opacity: 0;
        transform: translateX(-1000px)
    }
    50%{

    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}